template=template/roottemplate.html

<!--  -->
${{content}}
<section class="hero logged-user-template has-tabs is-form-page">
    <div class="hero-body">
        <div class="box">
            <div class="columns logged-user-template-content-container">
                <a
                    class="button is-hidden-mobile is-icon toggle-left-asign-menu-button">
                    <span
                        class="icon">
                        <i class="fa fa-arrow-left"></i>
                    </span>
                </a>
                <div class="column is-3 is-hidden-mobile menu-column">
                    <div class="left-asign">
                        #{{/fragment/fragmentuseroverview}}
                        <div class="shinobimenu is-hidden-icon"
                            id="loggedUserMenu"></div>
                    </div>

                </div>
                <div class="column is-9 main-page-content content-column">
                    <div class="content-unit-container">
                        <div class="columns is-mobile">
                            <div class="column">
                                <div>Đơn vị tiền: </div>
                                <div><b>VND</b></div>
                            </div>
                            <div class="column">
                                <div>Đơn vị vàng: </div>
                                <div><b>Lượng</b></div>
                            </div>
                        </div>
                    </div>
                    <div id="balanceStatistic"
                        class="user-home-section has-margin-bottom-1-rem">
                        <div
                            class="columns user-home-statistic-container has-margin-bottom-0-rem">
                            <div class="column">
                                <div
                                    class=" box   has-background-success-opacity">
                                    <div class="content-container">
                                        <p class="title is-4">Số dư tiền</p>
                                        <p class="subtitle is-4"
                                            snb-key="currentcash"
                                            snb-render="shinobi.render.renderFormatNumber">

                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="column">
                                <div class=" box  has-background-success-dark">
                                    <div class="content-container">

                                        <p class="title is-4">Số tiền cần thanh
                                            toán</p>
                                        <p class="subtitle is-4"
                                            snb-key="debtcash"
                                            snb-render="shinobi.render.renderFormatNumber">

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class=" box  has-background-danger">
                                    <div class="content-container">
                                        <p class="title is-4">Tiền ký quỹ <span
                                                data-tooltip="Tiền kí quỹ bao gồm tiền cọc trong giao dịch + phí giao dịch"
                                                class="icon has-tooltip-multiline has-tooltip-left"><i
                                                    class="fal fa-xs fa-info-circle"></i></span>
                                        </p>
                                        <p class="subtitle is-4"
                                            snb-key="lockedcash"
                                            snb-render="shinobi.render.renderFormatNumber">

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class=" box  has-background-grey-light">
                                    <div class="content-container">

                                        <p class="title is-4">Số tiền nợ</p>
                                        <p class="subtitle is-4"
                                            snb-key="widthdrawaldebt"
                                            snb-render="shinobi.render.renderFormatNumber">

                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="columns is-variable is-2">
                            <div id="balancegold" class=" column">
                                <div class=" box has-background-gold-table gold-balance-container has-button is-shadowless has-padding-0_5-rem"
                                    snb-key="goldbalance"
                                    snb-render="shinobi.loggedusertemplaterender.renderGoldBalance">
                                    <a class="button is-prev">
                                        <span class="icon "><i
                                                class="fa fa-caret-left"></i></span></a>
                                    <a class="button is-next"> <span
                                            class="icon is-next"><i
                                                class="fa fa-caret-right"></i></span></a>
                                    <div class="content-container">
                                        <p class="  title-gold-trasection">Số
                                            vàng ký quỹ
                                            <span
                                                data-tooltip="Vàng kí quỹ là số dư vàng hiện có "
                                                class="icon has-tooltip-multiline has-tooltip-left"><i
                                                    class="fal fa-xs fa-info-circle"></i></span>
                                        </p>
                                        <div
                                            class="columns is-mobile is-variable is-0">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="lockcashgold" class=" column">
                                <div class=" box has-background-gold-table gold-lock-cash-container has-button is-shadowless  has-padding-0_5-rem"
                                    snb-key="gollockcash"
                                    snb-render="shinobi.loggedusertemplaterender.renderGoldLockCash">
                                    <a class="button is-prev">
                                        <span class="icon "><i
                                                class="fa fa-caret-left"></i></span></a>
                                    <a class="button is-next"> <span
                                            class="icon is-next"><i
                                                class="fa fa-caret-right"></i></span></a>
                                    <div class="content-container">
                                        <p class=" title-gold-trasection">Vàng
                                            cần thanh toán</p>

                                        <div
                                            class="columns is-mobile is-variable is-0">

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                    <div class="">@{{content}}</div>
                </div>
            </div>
        </div>
    </div>
</section>


${{script}}
<!--  -->
@{{script}}

<script>
    document.addEventListener('DOMContentLoaded', function () {

        shinobi.loggedusertemplaterender.init();

    });
</script>