<table class="table is-fullwidth is-bordered">
    <thead>
        <tr>
            <th colspan="3" class="buy-side">BÊN MUA
            </th>
            <th colspan="3" class="sell-side">BÊN
                BÁN</th>
        </tr>
        <tr>
            <th snb-key="userid">UserId</th>
            <th>KL</th>
            <th>Giá</th>
            <th snb-key="userid">UserId</th>
            <th>KL</th>
            <th>Giá</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td snb-key="userid">
                C100
            </td>
            <td>25</td>
            <td order-placing-button-control-quick="sell">56.1</td>
            <td snb-key="userid">
                C100
            </td>
            <td>25</td>
            <td order-placing-button-control-quick="buy">56.1</td>
        </tr>
        <tr>
            <td snb-key="userid">
                C200
            </td>
            <td>200</td>
            <td order-placing-button-control-quick="sell">55.8</td>
            <td snb-key="userid">
                C200
            </td>
            <td>200</td>
            <td order-placing-button-control-quick="buy">55.8</td>
        </tr>
        <tr>
            <td snb-key="userid">
                C200
            </td>
            <td>200</td>
            <td order-placing-button-control-quick="sell">55.8</td>
            <td snb-key="userid">
                C200
            </td>
            <td>200</td>
            <td order-placing-button-control-quick="buy">55.8</td>
        </tr>
        <tr>
            <td snb-key="userid">
                C200
            </td>
            <td>200</td>
            <td order-placing-button-control-quick="sell">55.8</td>
            <td snb-key="userid">
                C200
            </td>
            <td>200</td>
            <td order-placing-button-control-quick="buy">55.8</td>
        </tr>
        <tr>
            <td snb-key="userid">
                C200
            </td>
            <td>200</td>
            <td order-placing-button-control-quick="sell">55.8</td>
            <td snb-key="userid">
                C200
            </td>
            <td>200</td>
            <td order-placing-button-control-quick="buy">55.8</td>
        </tr>
    </tbody>
</table>