<footer class="footer is-small is-hidden">
    <div class="columns footer-content ">
        <div class="column is-2">
            <div class="logo-icon">
                <img src="/static/image/logo.svg">
            </div>
        </div>
        <div class="column is-4">
            <p class="subtitle is-6 is-uppercase is-marginless">Đề án được
                thực hiện bởi:</p>
            <p class="subtitle is-6 has-text-weight-bold">TRUNG TÂM NGHIÊN
                CỨU, TƯ VẤN VỀ CHÍNH SÁCH, PHÁP LUẬT CHO HOẠT ĐỘNG ĐẦU TƯ TÀI
                CHÍNH
                TẠI VIỆT NAM</p>
        </div>
        <div class="column">
            <div class="columns">
                <div class="column">
                    <p class="footer-title is-paddingless">VỀ CHÚNG TÔI</p>
                    <div snb-footer-column="aboutus" class="shinobimenu is-hidden-icon">

                    </div>
                </div>
                <div class="column ">
                    <p class="footer-title is-paddingless">PHÁP LÝ</p>
                    <div snb-footer-column="document" class="shinobimenu is-hidden-icon">

                    </div>
                </div>
                <div class="column ">
                    <p class="footer-title">CỘNG ĐỒNG</p>
                    <p>Theo dõi chúng tôi</p>
                    <p id="socialNetworkContainer">
                        <a snb-key="facebook" target="_blank" snb-key-href="facebook"><span class="icon"><i
                                    class="fab fa-facebook fa-3x"></i></span></a>

                        <a target="_blank" snb-key="telegram" snb-key-href="telegram"><span class="icon"><i
                                    class="fab fa-telegram fa-3x"></i></span>
                        </a>
                        <a snb-key="linkin" target="_blank" snb-key-href="linkin"><span class="icon"><i
                                    class="fab fa-linkedin fa-3x"></i></span></a>

                    </p>

                </div>
            </div>
        </div>

    </div>
    <div class="columns footer-content has-border-bottom-primary has-border-bottom-dashed">
    </div>
    <br>
    <div class="columns footer-content ">
        <div class="column is-2 ">
            <div class="logo-icon">
                <img src="/static/image/logo-icon.png">
            </div>
        </div>
        <div class="column is-4">
            <p class="subtitle is-6 is-uppercase is-marginless">Trực thuộc cơ
                quan:</p>
            <p class="subtitle is-6 has-text-weight-bold ">HIỆP HỘI NGHIÊN
                CỨU, TƯ VẤN VỀ CHÍNH SÁCH, PHÁP LUẬT CHO HOẠT ĐỘNG ĐẦU TƯ TẠI
                VIỆT
                NAM</p>
        </div>
        <div class="column">
            <div snb-key="address"></div>
            <div>Email: <span snb-key="email"></span></div>
            <div>Điện thoại liên lạc: <span snb-key="phonenumber"></span></div>
        </div>
    </div>
</footer>