<section class="hero index-notification-banner-section">
	<div class="hero-body">
		<div class="index-notification-banner-container">
			<img class="desktop-image" snb-key="bannerbackgrounddesktop"
				snb-key-src="bannerbackgrounddesktop"
				src="/static/image/index-banner-notification-desktop.png"> <img
				class="mobile-image" snb-key="bannerbackgroundmobile"
				snb-key-src="bannerbackgroundmobile"
				src="/static/image/index-banner-notification.png">
			<p class="index-notification-banner-title  title"
				snb-key="bannertitle"></p>
			<a class="button is-secondary index-notification-banner-button"
				snb-key="postlink" snb-key-href="postlink" target="_blank"><span>XEM
					CHI TIẾT</span> <span class="icon"><i
					class="fa fa-angle-right fa-lg"></i></span> </a>
		</div>
	</div>
</section>