<div id="warningConfigModal" class="modal is-small has-modal-title-background ">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-text-centered">
            <p class="modal-card-title has-text-white has-text-weight-bold">Thông báo trạng thái tài khoản</p>
            <div class="is-flex is-hidden">
                <div style="margin-block: auto;">
                    <button class="delete" aria-label="close"></button>
                </div>
            </div>
        </header>
        <section class="modal-card-body">
            <!-- Content ... -->
            <div class="content-modal-cotainer" id="warningNotification">
                
            </div>
        </section>
        <footer class="modal-card-foot is-justify-content-space-around">
            <button class="button is-success confirmConfig">Cấu hình tài khoản</button>
        </footer>
    </div>
</div>