<section id="withdrawal">
    <div class="hero ">
        <div class="hero-body has-background-light">
            <nav class="level is-vcentered-index is-marginless is-paddingless ">
                <div class="level-left">
                    <div class="level-item">
                        <div class="has-text-primary is-size-3 font-weight-bold">
                            HƯỚNG DẪN RÚT TIỀN</div>
                    </div>
                </div>
                <div class="level-right ">
                    <div class="">
                        <div class=" container-with-header is-small">
                            <div class="header">
                                <a class=" title " href="/private/withdrawalrequest">Phiếu
                                    yêu cầu rút tiền</a>
                            </div>
                        </div>
                    </div>
                </div>

            </nav>
            <div class="is-divider is-primary is-marginless"></div>
            <div class="columns mobile-form">
                <div class="column">
                    <div class="columns is-vcentered has-padding-left-1-rem has-padding-right-1-rem">
                        <div class=" column">
                            <div class="column">
                                <div class="has-text-centered">
                                    <img class=" format-image" src="/static/image/index-withdrawal-1.svg">
                                </div>
                            </div>
                            <div class="column">
                                <div class="container has-text-centered">
                                    <p class="title is-size-5 has-text-primary is-marginless">
                                        Bước 1
                                    </p>
                                    <div class="is-divider is-primary is-marginless">
                                    </div>
                                    <p class="is-size-7 ">
                                        Truy cập vào website <strong class="">https://vang.cfv.vn/</strong>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="columns is-vcentered has-padding-left-1-rem has-padding-right-1-rem">
                        <div class=" column">
                            <div class="column">
                                <div class="has-text-centered">
                                    <img class=" format-image" src="/static/image/index-withdrawal-2.svg">
                                </div>
                            </div>
                            <div class="column">
                                <div class="container has-text-centered">
                                    <p class="title is-size-5 has-text-primary is-marginless">
                                        Bước 2
                                    </p>
                                    <div class="is-divider is-primary is-marginless">
                                    </div>
                                    <p class="is-size-7">
                                        Điền đầy đủ những thông tin được yêu cầu vào <strong class=" ">phiếu
                                            yêu cầu rút tiền</strong>, check cam đoan những thông tin được điền vào là thật.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="columns is-vcentered has-padding-left-1-rem has-padding-right-1-rem">
                        <div class=" column">
                            <div class="column">
                                <div class=" has-text-centered">
                                    <img class=" format-image" src="/static/image/index-withdrawal-3.svg">
                                </div>
                            </div>
                            <div class="column">
                                <div class="container has-text-centered">
                                    <p class="title is-size-5 has-text-primary is-marginless">
                                        Bước 3
                                    </p>
                                    <div class="is-divider is-primary is-marginless">
                                    </div>
                                    <p class="is-size-7 ">
                                        <strong class="">Chờ thông báo rút tiền
                                            thành công</strong> từ admin qua email và tài khoản web.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>