<section id='help-desk' class="hero support-infomation-section">
    <div class="background-suport	mobile-form hero-body">
        <div class="columns is-vcentered">
            <div class="column">
                <div class="title is-size-4">Hỗ trợ thông tin</div>
            </div>
            <div class="column">
                <div class="is-hidden-mobile">
                    <img src="/static/image/index-help-1.png" class="algin-center-img">
                </div>
                <div class="subtitle">
                    Email: <span class="is-email-info" snb-key="email"></span>
                </div>
            </div>
            <div class="column has-text-right">
                <div class="is-hidden-mobile">
                    <img src="/static/image/index-help-2.png" class="algin-center-img">
                </div>
                <div class="subtitle ">
                    Hotline: <span class="is-hotline-info" snb-key="phonenumber"></span>
                </div>
            </div>
        </div>
    </div>
</section>