<div class="hero is-primary padding-one-quater-rem padding-intro">
	<div class="title has-text-white">Kiếm nhiều hơn từ thị trường
		với CFV</div>
	<div class="is-divider is-marginless has-text-white"></div>
	<div class="has-text-white margin-top-1rem">Giao dịch FX, tiền
		điện tử, Vàng, Dầu, chỉ số chứng khoán và cổ phiếu với mức spread
		thấp, tốc độ thực thi lệnh nhanh và còn được nhận hoàn tiền mặt*</div>
	<div
		class=" has-text-white is-italic has-text-weight-light margin-top-1rem">
		*Các điều khoản và điều kiện được áp dụng</div>
	<div class=" has-text-white is-italic has-text-weight-light">Xem
		thông tin đầy đủ về chương trình tặng thưởng của website chúng tôi.</div>
</div>