<section id='help-desk' class="hero support-infomation-section">
    <div class="background-suport	mobile-form hero-body">
        <div class="columns is-vcentered">
            <div class="column is-5">
                <div class="subtitle  font-weight-bold " snb-key="address"></div>
            </div>
            <div class="column  has-border-left-primary">
                <div class="subtitle">
                    Email: </br>
                    <span class=" font-weight-bold" snb-key="email"></span>
                </div>
            </div>
            <div class="column  has-border-left-primary">
                <div class="subtitle ">
                    Điện thoại: </br> <span class=" font-weight-bold" snb-key="phonenumber"> </span>
                </div>
            </div>
        </div>
    </div>
</section>