<section id="payment">
    <div class="hero">
        <div class="hero-body has-background-light">
            <nav class="level is-vcentered-index is-marginless is-paddingless">
                <div class="level-left">
                    <div class="level-item">
                        <div class="has-text-primary is-size-3 font-weight-bold">
                            HƯỚNG DẪN NẠP TIỀN</div>
                    </div>
                </div>
                <div class="level-right ">
                    <div class="">
                        <div class=" container-with-header is-small">
                            <div class="header">
                                <a class=" title" href="/private/depositrequest">Phiếu
                                    yêu cầu nạp tiền</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="is-divider is-primary is-marginless"></div>
            <div class="columns is-vcentered margin-top-1rem mobile-form">
                <!-- Step 1,2,3 start -->
                <div class="column is-4 padding-left-right-1rem">
                    <div class="columns is-vcentered">
                        <div class="column">
                            <img src="/static/image/index-payment-1.svg">
                        </div>
                        <div class="column">
                            <div class="container">
                                <p class="title is-size-5 has-text-primary is-marginless">
                                    Bước 1
                                </p>
                                <div class="is-divider is-primary is-marginless">
                                </div>
                                <p class="is-size-7 ">
                                    Truy cập vào website <strong class="">vang.cfv.vn</strong>
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="columns is-vcentered">
                        <div class="column">
                            <img src="/static/image/index-payment-2.svg">
                        </div>
                        <div class="column">
                            <div class="container">
                                <p class="title is-size-5 has-text-primary is-marginless">
                                    Bước 2
                                </p>
                                <div class="is-divider is-primary is-marginless">
                                </div>
                                <p class="is-size-7">
                                    Chọn <strong class=" ">đăng nhập</strong> vào tài khoản của mình

                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="columns is-vcentered">
                        <div class="column">
                            <img src="/static/image/index-payment-3.svg">
                        </div>
                        <div class="column">
                            <div class="container">
                                <p class="title is-size-5 has-text-primary is-marginless">
                                    Bước 3
                                </p>
                                <div class="is-divider is-primary is-marginless ">
                                </div>
                                <p class="is-size-7">
                                    Chọn <strong class=" ">phiếu yêu cầu nạp
                                        tiền</strong>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Step 1,2,3 end -->

                <!-- Step 4,5,6 start -->
                <div class="column is-4 padding-left-right-1rem">
                    <div class="columns is-vcentered">
                        <div class="column">
                            <img src="/static/image/index-payment-4.svg">
                        </div>
                        <div class="column">
                            <div class="container">
                                <p class="title is-size-5 has-text-primary is-marginless">
                                    Bước 4
                                </p>
                                <div class="is-divider is-primary is-marginless">
                                </div>
                                <p class="is-size-7">
                                    <strong class="">Điền đầy đủ những thông tin
                                        được yêu cầu</strong> để chứng minh đã nạp tiền vào tài khoản
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="columns is-vcentered">
                        <div class="column">
                            <img src="/static/image/index-payment-5.svg">
                        </div>
                        <div class="column">
                            <div class="container">
                                <p class="title is-size-5 has-text-primary is-marginless">
                                    Bước 5
                                </p>
                                <div class="is-divider is-primary is-marginless">
                                </div>
                                <p class="is-size-7">
                                    Xác nhận confirm box hoặc check cam đoan những thông tin trên là thật để <strong class="">gửi phiếu yêu cầu</strong>

                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="columns is-vcentered">
                        <div class="column">
                            <img src="/static/image/index-payment-6.svg">
                        </div>
                        <div class="column">
                            <div class="container">
                                <p class="title is-size-5 has-text-primary is-marginless">
                                    Bước 6
                                </p>
                                <div class="is-divider is-primary is-marginless">
                                </div>
                                <p class="is-size-7">
                                    <strong class=" ">Chờ thông báo nạp tiền
                                        thành công</strong> từ admin qua email và tài khoản web
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Step 4,5,6 end -->

                <!-- Step 7 start -->
                <div class="column is-4 padding-left-right-4rem">
                    <img src="/static/image/index-payment-7.svg">
                    <div class="container">
                        <p class="title is-size-5 has-text-primary is-marginless">
                            Bước 7
                        </p>
                        <div class="is-divider is-primary is-marginless"></div>
                        <p class="is-size-7 ">
                            Sau khi có thông báo nạp tiền thành công từ admin, bạn có thể <strong class=" ">Giao
                                dịch bình thường</strong>
                        </p>
                    </div>
                </div>
                <!-- Step 7 end -->

            </div>
        </div>
    </div>
</section>