<section class="container tabs-portfolio">
    <div class="tabs is-boxed">
        <ul class="is-borderless">
            <li id="dividendmanagement">
                <a href="/private/dividendmanagement">
                    <span class="is-size-5">Cấu hình chia cổ tức</span>
                </a>
            </li>
            <li id="adminlistuserreceivedividends">
                <a href="/private/adminlistuserreceivedividends">
                    <span class="is-size-5">Danh sách các tài khoản được hưởng cổ tức </span>
                </a>
            </li>
            <!-- <li>
                <a href="/page/riskmanagement">
                    <span class="is-size-5">Quản lý rủi ro</span>
                </a>
            </li> -->
        </ul>
    </div>
</section>