<div id="fragmentTimeRemainModal" class="modal is-medium">
    <div class="modal-background"></div>
    <div class="modal-content"
        animate-loop="animate__shakeX animate__shakeY animate__tada animate__rubberBand animate__jello animate__heartBeat animate__bounce">
        <div class="time-remain-container">
            <!-- <p class="time-remain-background">
                <img src="/static/image/time-remain-background.png" alt="">
            </p> -->
            <div class="time-remain-value">
                12
            </div>

        </div>

    </div>
</div>