<div class="column ">
    <div class="box has-min-height-80-vh ">
        <div class="columns header-table-filter">
            #{{/fragment/fragmentexceldatefilter}}
            <div class="column is-4">
                <div class="field ">
                    <label class="label">Tài khoản</label>
                    <div class="control">
                        <input class="input " snb-key="username"
                            placeholder="Tài khoản" type="text">
                    </div>
                </div>
                <div class="field ">
                    <label class="label is-invisible">temp</label>
                    <div class="control">
                        <a class="button filter-submit-button is-link">Xuất
                            excel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>