<div id="loggedUserOverview" class="user-overview">
	<div class="info-header  is-marginless">
		<figure class="image is-avatar is-rounded  is-centered">
			<img snb-key="avatarlink" snb-key-src="avatarlink"
				src="/static/image/user-avatar.png">
		</figure>
		<div
			class="title has-text-centered has-text-weight-bold is-5 has-text-primary">
			<span snb-key="lastname"></span> <span snb-key="firstname"></span>
		</div>
	</div>
	<div class="info-body">
		<div class="level user-id-container">
			<div class="level-item has-text-primary has-text-centered">
				<span>ID: </span><span snb-key="username" class="">--</span>
			</div>
		</div>
		<div class="level unit-container">
			<div class="level-left ">
				<div>Đơn vị tiền: </div>
				<div><b>VND</b></div>
			</div>
			<div class="level-right ">
				<div>Đơn vị vàng: </div>
				<div><b>Lượng</b></div>
			</div>
		</div>
	</div>
</div>