<a class="is-fullheight" snb-key="productid" snb-render="shinobi.productgoldrender.buildHrefProductDetail">
    <div class="card news-container is-fullheight columns ">
        <div class="card-image column is-paddingless is-7">
            <figure class="image ">
                <img snb-key="productimg" snb-key-src="productimg" style="max-height: 20rem;">
            </figure>
        </div>
        <div class="card-content column is-5" style="background-color:#e7e7e7">
            <div class="content column">
                <p class="title has-text-primary is-size-3 font-weight-bold" snb-key="productname"></p>
                <p class="is-size-4 has-margin-right-2-rem post-content" snb-key="productdescription"></p>
                <p class="has-text-right"><i>Xem chi tiết </i></p>
            </div>
        </div>
    </div>
</a>