<a class="is-fullheight" snb-key="posturl" snb-key-href="posturl">
    <div class="card news-container is-fullheight">
        <div class="card-image">
            <figure class="image is-5by3">
                <img snb-key="thumpnailurl" snb-key-src="thumpnailurl">
            </figure>
        </div>
        <div class="card-content is-light" style="background-color:#e7e7e7">
            <div class="media">
                <div class="media-content">
                    <p class="post-time" snb-key="createddate">
                    </p>
                </div>
            </div>
            <div class="content">
                <p class="title has-text-primary is-size-4 post-title" snb-key="posttitle"></p>
                <p class="post-content" snb-key="postcontent"></p>
                <p class="has-text-right "><i class=" is-size-7 has-text-underline">Chi tiết bài
						viết</i></p>
            </div>
        </div>
    </div>
</a>