<div id="balanceStatistic"
    class="fragment-cash-gold-container columns is-multiline  is-variable is-2 is-hidden">
    <div class="column is-12">
        <div class="columns is-multiline user-home-statistic-container is-gapless">
            <div class="column  is-12 row">
                <div class="columns is-mobile is-variable is-1">
                    <div class="column">
                        <div class=" box-container">
                            <div class="gold-background"><img
                                    src="/static/image/gold-background.png">
                            </div>
                            <div class="content-container">
                                <p class="title is-4">Số dư tiền</p>
                                <p class="subtitle is-4"><span
                                        snb-key="currentcash"
                                        snb-render="shinobi.render.renderFormatNumber">0</span>
                                    VND

                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="column ">
                        <div class=" box-container">
                            <div class="gold-background"><img
                                    src="/static/image/gold-background.png">
                            </div>
                            <div class="content-container">

                                <p class="title is-4">Số tiền cần thanh
                                    toán</p>
                                <p class="subtitle is-4">
                                    <span snb-key="debtcash"
                                        snb-render="shinobi.render.renderFormatNumber">0</span>
                                    VND

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column  is-12 row">
                <div class="columns is-mobile is-variable is-1">
                    <div class="column">
                        <div class=" box-container">
                            <div class="gold-background"><img
                                    src="/static/image/gold-background.png">
                            </div>
                            <div class="content-container">

                                <p class="title is-4">Tiền ký quỹ <span
                                        data-tooltip="Tiền kí quỹ bao gồm tiền cọc trong giao dịch + phí giao dịch"
                                        class="icon has-tooltip-multiline"><i
                                            class="fal fa-xs fa-info-circle"></i></span>
                                </p>
                                <p class="subtitle is-4"><span
                                        snb-key="lockedcash"
                                        snb-render="shinobi.render.renderFormatNumber">0</span>
                                    VND

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class=" box-container ">
                            <div class="gold-background"><img
                                    src="/static/image/gold-background.png">
                            </div>
                            <div class="content-container">

                                <p class="title is-4">Số tiền nợ</p>
                                <p class="subtitle is-4"><span
                                        snb-key="widthdrawaldebt"
                                        snb-render="shinobi.render.renderFormatNumber">0</span>
                                    VND

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <div id="balancegold" class=" column is-12">

        <div class=" box-container gold-balance-container has-button is-shadowless"
            snb-key="goldbalance"
            snb-render="shinobi.loggedusertemplaterender.renderGoldBalance">
            <div class="gold-background"><img
                    src="/static/image/gold-background.png"></div>
            <a class="button is-prev">
                <span class="icon "><i class="fa fa-caret-left"></i></span></a>
            <a class="button is-next"> <span class="icon is-next"><i
                        class="fa fa-caret-right"></i></span></a>
            <div class="content-container">
                <p class="  title-gold-trasection">Số
                    vàng ký quỹ (Lượng)
                    <span data-tooltip="Vàng kí quỹ là số dư vàng hiện có "
                        class="icon has-tooltip-multiline has-tooltip-left"><i
                            class="fal fa-xs fa-info-circle"></i></span>

                </p>
                <div class="columns is-mobile is-variable is-0">

                </div>
            </div>
        </div>
    </div>
    <div id="lockcashgold" class=" column is-12">
        <div class=" box-container gold-lock-cash-container has-button is-shadowless "
            snb-key="gollockcash"
            snb-render="shinobi.loggedusertemplaterender.renderGoldLockCash">
            <div class="gold-background"><img
                    src="/static/image/gold-background.png"></div>
            <a class="button is-prev">
                <span class="icon "><i class="fa fa-caret-left"></i></span></a>
            <a class="button is-next"> <span class="icon is-next"><i
                        class="fa fa-caret-right"></i></span></a>
            <div class="content-container">
                <p class=" title-gold-trasection">Vàng
                    cần thanh toán (Lượng)</p>

                <div class="columns is-mobile is-variable is-0">

                </div>
            </div>
        </div>
    </div>

</div>