<div id="fragmentForgotPassword" class="modal  fragment-forgot-password ">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="content-card container-with-header">
            <h2 class="title header has-text-centered is-marginless has-text-primary">Quên mật khẩu</h2>
            <p class="field">Nhập địa chỉ Email hoặc tên người dùng liên quan đến tài khoản của bạn. Chúng tôi sẽ gửi cho bạn một Email có liên kết đến trang đặt lại mật khẩu</p>
            <div class="field">
                <div class="control">
                    <input snb-key="email" class="input" type="email" placeholder="Email" snb-render="shinobi.fragmentforgotpassword.disableInputAndButton">
                </div>
            </div>
            <div class="buttons">
                <a class="submit-button button is-primary  is-fullwidth" snb-key="email" snb-render="shinobi.fragmentforgotpassword.disableInputAndButton"><span>TIẾP
						TỤC</span> <span class="icon"><i class="fa fa-chevron-right"></i>
				</span></a>
            </div>
            <p class="field note-field is-hidden" snb-key="email" snb-render="shinobi.fragmentforgotpassword.showNoteField">
                Chúng tôi vừa gửi thêm thông tin qua email tới địa chỉ <b snb-key="email"></b>. Vui lòng kiểm tra email.
            </p>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>