#{{/fragment/fragmentpageloading}}

<div class="hero  is-fullheight login-page">

    <div class="hero-body">
        <div class="container has-text-centered">
            <div class=" is-justify-content-center">
                <div class="is-flex is-justify-content-center">
                    <div style="width: 25rem; transform: translateY(-10%)">
                        <div class="box form-input-container m-0 has-background-transparent"
                            style="box-shadow: none;">
                            <div class="login-web-logo">
                                <a href="/page/index"><img
                                        src="/static/image/aladinwhitelogo.svg"
                                        style="
                                transform: translateX(10%);
                            "></a>
                            </div>
                        </div>
                        <div class="box form-input-container">
                            <!-- <div class="is-size-5 has-text-left font-weight-bold">Tài khoản:</div> -->
                            <div class="pt-2">
                                <input class="input" type="text" id="ipUsername"
                                    placeholder="Tên đăng nhập" />
                            </div>

                            <!-- <div class="is-size-5 font-weight-bold mt-4 has-text-left">Mật khẩu:
                        </div> -->
                            <div class="pt-2">
                                <input class="input" type="password"
                                    id="ipPassword" placeholder="Mật khẩu" />
                            </div>
                            <div class="pt-2 field has-addons">
                                <div class="control is-expanded">
                                    <input class="input" type="text"
                                        id="ipOtpCode"
                                        placeholder="Nhập mã OTP" />
                                </div>
                                <div class="control">
                                    <a class="button is-primary"
                                        id="sendOTPLogin">
                                        Gửi OTP
                                    </a>
                                </div>
                            </div>
                            <!-- <div class="mt-4">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Ghi nhớ đăng nhập
                                </label>
                            </div> -->
                            <p class="has-text-link mb-4">
                                <a id="submit"
                                    class="button has-bsd is-secondary is-fullwidth has-text-weight-bold">Đăng
                                    nhập</a>
                            </p>
                            <div
                                class=" has-margin-top-1rem has-margin-bottom-1rem">
                                <a href="/page/forgotpassword"
                                    class="has-text-link">Bạn
                                    quên mật khẩu?</a>
                            </div>
                            <!-- <div class="is-divider is-white is-thin is-small font-subnormal" data-content="Hoặc đăng nhập sử dụng   "></div>
                        <div class="columns ">
                            <div class="column is-hidden">
                                <a id="FacebookLoginBtn" class="button  fafacebook  is-fullwidth font-weight-bold">facebook</a>
                            </div>
                            <div class="column">
                                <a id="googleBtn" class=" login-with-google-btn">Sign in with Google</a>
                            </div>
                        </div>
                        <div class="has-pdding-top-1rem">
                            <span>Chưa là thành viên</span><span><a
                                href="/page/investorregistration" class="has-text-link">
                                    Đăng ký ngay!</a></span>
                        </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
#{{/fragment/notificationmodel}}
<!--  -->
#{{/fragment/loginfooterscript}}