<section class="container tabs-portfolio">
    <div class="tabs is-boxed">
        <ul class="is-borderless">
            <li>
                <a href="/private/accountmanagement">
                    <span class="is-size-5">Quản lý khách hàng</span>
                </a>
            </li>
            <li>
                <a href="/private/pmmanagement">
                    <span class="is-size-5">Quản lý PM</span>
                </a>
            </li>
            <!-- <li>
                <a href="/page/riskmanagement">
                    <span class="is-size-5">Quản lý rủi ro</span>
                </a>
            </li> -->
        </ul>
    </div>
</section>