<div class=" table-container  container p-5 has-box-shadow-light has-background-white has-border-radius-6px"
    id="allotmentTable">
    <div id="nameuser" class="content">
        <div class="columns is-vcentered">
            <div class="column is-3">
                <div style="text-align: -webkit-center;">
                    <div class="">
                        <figure class="image is-96x96">
                            <img class="image is-96x96"
                                src="/static/image/aladin.svg">
                        </figure>
                    </div>
                </div>
                <div class="has-text-centered">
                    <p snb-key="accountname"
                        class="has-text-weight-bold is-size-5 has-text-secondary is-marginless">
                        Tên tài khoản</p>
                    <!-- <p class="has-text-grey">
                            (<span snb-key="subaccountname"
                                class="is-size-6">Loại tài khoản</span>)
                        </p> -->
                </div>
            </div>
            <div class="column has-margin-block-auto">
                <div class="has-background-white is-fullwidth p-4">
                    <h1 class="title is-6 has-text-secondary mb-3">
                        Thông tin hệ thống:</h1>
                    <div class="columns">
                        <div class="column pb-0 pt-1">
                            <span class="has-text-grey">Mã tài khoản:</span>
                            <span class="has-text-weight-bold"
                                snb-key="systemsubaccount"></span>
                        </div>
                        <div class="column pb-0 pt-1">
                            <span class="has-text-grey">Tài khoản giao
                                dịch:</span>
                            <span class="has-text-weight-bold"
                                snb-key="subaccountname"></span>
                        </div>
                        <div class="column pb-0 pt-1"></div>
                    </div>
                    <h1 class="title is-6 has-text-secondary mb-3 mt-1">
                        Thông tin khách hàng:</h1>
                    <div class="columns is-multiline">
                        <div class="column is-4 pb-0 pt-1">
                            <span class="has-text-grey">Công ty:</span>
                            <span class="has-text-weight-bold"
                                snb-key="stockcompany"></span>
                        </div>
                        <div class="column is-4 pb-0 pt-1">
                            <span class="has-text-grey">Tài
                                khoản:</span>
                            <span class="has-text-weight-bold"
                                snb-key="account"></span>
                        </div>
                        <div class="column is-4 pb-0 pt-1">
                            <span class="has-text-grey">Số điện
                                thoại:</span>
                            <span class="has-text-weight-bold"
                                snb-key="customerphone"></span>
                        </div>

                        <div class="column is-4 pb-0 pt-1">
                            <span class="has-text-grey">Số CMND:</span>
                            <span class="has-text-weight-bold"
                                snb-key="customercardid"></span>
                        </div>

                        <div class="column is-4 pb-0 pt-1">
                            <span class="has-text-grey">Email:</span>
                            <span class="has-text-weight-bold"
                                snb-key="customeremail"></span>
                        </div>
                        <div class="column is-4 pb-0 pt-1">
                            <span class="has-text-grey">Địa chỉ:</span>
                            <span class="has-text-weight-bold"
                                snb-key="contactaddress"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>