<div id="fragmentLogin" class="modal fragment-login">
	<div class="modal-background"></div>
	<div class="modal-content">
		<div class="login-card">
			<h2 class="title">Đăng nhập</h2>
			<div class="field">
				<div class="control has-icons-left ">
					<input class="input username-input" type="text"
						placeholder="Tên đăng nhập"> <span
						class="icon is-small is-left"> <i
							class="fas fa-user"></i>
					</span>
				</div>
			</div>
			<div class="field">
				<div class="control has-icons-left ">
					<input class="input password-input" type="password"
						placeholder="Mật khẩu"> <span
						class="icon is-small is-left"> <i
							class="fas fa-lock"></i>
					</span>
				</div>
			</div>

			<div class="field">
				<div class="control  ">
					<a class="login-button button is-primary is-fullwidth"><span>TIẾP
							TỤC</span> <span class="icon"><i
								class="fa fa-chevron-right"></i></span></a>
				</div>
			</div>
			<div class="is-hidden">
				<div class="is-divider" data-content="Hoặc đăng nhập với"></div>
				<div class="socical-network-button-container">
					<button class="button facebook-button">
						<span class="icon"><i
								class="fab fa-facebook-f"></i></span><span>Facebook</span>
					</button>
					<button class="button google-button">
						<span class="icon"><i
								class="fab fa-google"></i></span><span>Google</span>
					</button>
				</div>
			</div>
			<hr>
			<div class="field">
				<div class="control  ">
					<a
						class="button is-direction fragment-forgot-password-button-control"><span
							class="icon"><i
								class="fa fa-caret-right"></i></span><span>Quên
							mật khẩu?</span></a>
				</div>
			</div>
			<div class="field">
				<div class="control  ">
					<a
						class="button is-direction fragment-sign-up-button-control"><span
							class="icon"><i
								class="fa fa-caret-right"></i></span><span>Đăng
							ký thành viên</span></a>
				</div>
			</div>
		</div>
	</div>
	<button class="modal-close is-large" aria-label="close"></button>
</div>