<div class="order-detail-container" id="fragmentSubstractBalanceInfo">

    <p class="title section-title is-4">Chi tiết yêu cầu rút vàng</p>
    <div class="columns is-multiline form-container">

        <div class="column is-6 is-hidden">
            <div class="field ">
                <div class="control ">
                    <input class="input firstname-input" type="text" placeholder="Họ" snb-key="id">
                    <input class="input firstname-input" type="text" placeholder="Họ" snb-key="username">
                </div>
            </div>
        </div>

        <div class="column is-6">
            <div class="field ">
                <label class="label">Họ người rút</label>
                <div class="control ">
                    <input class="input firstname-input" type="text" placeholder="Họ" snb-key="lastname">
                </div>
            </div>
        </div>

        <div class="column is-6">
            <div class="field ">
                <label class="label">Tên người rút</label>
                <div class="control ">
                    <input class="input lastname-input" type="text" placeholder="Tên" snb-key="firstname">
                </div>
            </div>
        </div>

        <div class="column is-6">
            <div class="field ">
                <label class="label">Sđt người rút</label>
                <div class="control ">
                    <input class="input" type="text" placeholder="Sđt người gửi" snb-key="phonenumber">
                </div>
            </div>
        </div>
        <div class="column is-6">
            <div class="field ">
                <label class="label">Email người rút</label>
                <div class="control ">
                    <input class="input" type="text" placeholder="Email người gửi" snb-key="email">
                </div>
            </div>
        </div>


        <!--  -->
        #{{/fragment/fragmentidentity}}
        <!--  -->
        <div class="column is-12">
            <div class="field ">
                <label class="label">Loại hình thực hiện</label>
                <div class="control ">
                    <input class="input" type="text" placeholder="Loại hình thực hiện" snb-key="location" value="OFFLINE" disabled>
                </div>
            </div>
        </div>

        <div class="column is-12">
            <div class="field ">
                <label class="label">Địa chỉ giao dịch</label>
                <div class="control">
                    <div class="select">
                        <select snb-key="addressgold"></select>
                    </div>
                </div>
                <div class="control">
                </div>
            </div>
        </div>
        <div id="enableinput" class="column is-paddingless is-12">

            <div class="column ">
                <div class="field ">
                    <label class="label">Nội dung:</label>
                    <div class="control">
                        <textarea class="textarea" snb-key="receiptcontent" rows="2"></textarea>
                    </div>
                    <div class="control">

                    </div>
                </div>
            </div>
            <div class="column ">
                <div class="field ">
                    <label class="label">Ghi chú:</label>
                    <div class="control">
                        <textarea class="textarea disable-checkempty" snb-key="comment" rows="2"></textarea>
                    </div>
                    <div class="control">

                    </div>
                </div>
            </div>

        </div>
        <div class="column is-12">
            <div class=" columns">
                <div class="column is-4">
                    <div class="field ">
                        <label class="label">Loại vàng</label>
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select snb-key="productid"></select>
                            </div>
                        </div>
                        <div class="control">

                        </div>
                    </div>

                </div>
                <div class="column">
                    <div class="field ">
                        <label class="label">Số vàng (Có thể rút tối đa trong ngày: <b snb-key="id" snb-render="shinobi.adminwithdrawofflinerender.renderLimitWithDrawlGold"></b>  lượng )</label>
                        <div class="control">
                            <input id="inputtotalgold" class="input" type="text" placeholder="Số vàng" snb-key="amount" snb-render="shinobi.render.renderFormatNumber" snb-preprocess="shinobi.render.getNumberCleaveInput">
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="column is-12">
            <div class="field">
                <div class="control  ">
                    <a class="submit-substract-balance-button button is-primary is-hidden"><span>XÁC
                            NHẬN</span></a>
                </div>
            </div>
        </div>


    </div>
</div>