<div id="fragmentChangePassword" class="modal fragment-change-password">
	<div class="modal-background"></div>
	<div class="modal-content container-with-header is-small padding-intro">
		<div class="header">
			<h2 class="title has-text-primary">Đổi mật khẩu</h2>
		</div>
		<div class="login-card box is-marginless">
			<div class="field">
				<div class="control  ">
					<input class="input old-password-input" type="password"
						placeholder="Mật khẩu cũ">
				</div>
			</div>
			<div class="field">
				<div class="control ">
					<input class="input new-password-input" type="password"
						placeholder="Mật khẩu mới">
				</div>
			</div>
			<div class="field">
				<div class="control ">
					<input class="input confirm-password-input" type="password"
						placeholder="Xác nhận mật khẩu">
				</div>
			</div>
			<div class="field">
				<div class="control  ">
					<a class="submit-button button is-primary is-fullwidth"><span>TIẾP
							TỤC</span> <span class="icon"><i
								class="fa fa-chevron-right"></i></span></a>
				</div>
			</div>

		</div>
	</div>
	<button class="modal-close is-large" aria-label="close"></button>
</div>