<div id="userinfoModal" class="modal is-large">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title">Chi tiết</p>
			<button class="delete" aria-label="close"></button>
		</header>
		<section class="modal-card-body">
			#{{/fragment/fragmentuserinfo}}
		</section>
		<footer class="modal-card-foot is-hidden">
			<a class="button is-success" snb-key="requestid"
				snb-render="shinobi.adminwithdrawalrequestrender.renderAcceptButton">Đồng
				ý</a><a class="button is-danger" snb-key="requestid"
				snb-render="shinobi.adminwithdrawalrequestrender.renderRejectButton">Từ
				chối</a>
			<button class="button">Đóng</button>
		</footer>
	</div>
</div>