<section class="hero">
    <section class="hero-body">
        <div class="container detail-page-max-width has-text-justified">
            <div class="columns is-variable is-5">
                <div class="column is-two-third news-post">

                    <div class="text-grey-underline has-border-bottom-primary has-margin-bottom-1-rem">
                        <p snb-key="productname" class="has-text-primary is-size-3 font-weight-bold">
                        </p>
                        <p snb-key="createddate" class="has-text-primary text-inline is-size-6"></p>
                    </div>
                    <div class="">
                        <div class=" title is-size-4" snb-key="titlepostcontent"></div>
                        <div snb-key="productdescription" snb-render="shinobi.util.renderUnEscap" class="">
                        </div>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="padding-top-2rem">
                        <table class="table is-fullwidth is-striped is-hoverable gold-table">
                            <thead class="has-background-primary ">
                                <tr>
                                    <th class="has-text-white is-size-4 font-weight-bold has-border-top-left-radius-0_5-rem has-border-top-right-radius-0_5-rem "
                                        snb-lang="PAGECODE_NEWS_RELEVANT" language="VN">CÁC SẢN PHẨM KHÁC </th>
                                </tr>
                            </thead>
                            <tbody id="goldproduct" snb-datalist-node="goldproduct" class="">
                                <tr snb-datalist-parent="goldproduct" class="" rowid="0">
                                    <td>
                                        <a snb-key="productid"
                                            snb-render="shinobi.productgoldrender.buildHrefProductDetail">
                                            <div class="has-text-primary font-weight-bold is-size-5"
                                                snb-key="productname"></div>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr record-num="4" class=" is-hidden">
                                    <td>
                                        #{{/fragment/tablepaginationmin}}
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class=" columns">
                        <div id="ads" snb-datalist-node="ads" class="column">
                            <div class="has-padding-top-1-rem" snb-datalist-parent="ads" rowid="0">

                                <a snb-key="targetlink" snb-key-href="targetlink">
                                    <figure class="image is-3by1"> <img snb-key="desktop" snb-key-src="desktop">
                                    </figure>
                                </a>
                                <p class="is-hidden text-grey-underline padding-top-05rem">
                                </p>

                            </div>
                        </div>
                        <div record-num="3" class="is-hidden">
                            #{{/fragment/tablepagination}}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</section>