<select id="bankname" snb-key="bankname" class="input-disabled">
	<option value="0">VIETCOMBANK (VCB)</option>
	<option value="307">A CHAU (ACB)</option>
	<option value="664">AGRICULTURAL BANK OF CHINA LTD (ABOC)</option>
	<option value="323">AN BINH (ABBANK)</option>
	<option value="602">ANZ BANK</option>
	<option value="313">BAC A (BAC A BANK)</option>
	<option value="327">BAN VIET (VIET CAPITAL BANK)</option>
	<option value="612">BANGKOK BANK</option>
	<option value="620">BANK OF CHINA</option>
	<option value="615">BANK OF COMMUNICATIONS</option>
	<option value="659">BANK OF INDIA</option>
	<option value="359">BAO VIET (BAO VIET BANK)</option>
	<option value="657">BNP PARIBAS HN</option>
	<option value="614">BNP- PARIBAS CN HCM</option>
	<option value="601">BPCE IOM</option>
	<option value="357">BUU DIEN LIEN VIET (LIEN VIET POST BANK)</option>
	<option value="634">CATHAY UNITED</option>
	<option value="611">CHINA CONSTRUCTION BANK CORPORATION</option>
	<option value="207">CHINH SACH XA HOI (VBSP)</option>
	<option value="661">CIMB BANK</option>
	<option value="654">CITI BANK</option>
	<option value="605">CITI BANK HN</option>
	<option value="652">CONG NGHIEP HAN QUOC (INDUSTRIAL BANK OF</option>
	<option value="201">CONG THUONG VN (VIETINBANK)</option>
	<option value="621">CREDIT AGRICOLE CIB</option>
	<option value="629">CTBC ( NHTM CHINATRUST)</option>
	<option value="360">DAI CHUNG (PVCOMBANK)</option>
	<option value="319">DAI DUONG (OCEANBANK)</option>
	<option value="320">DAU KHI TOAN CAU (GPBANK)</option>
	<option value="202">DAU TU VA PHAT TRIEN VN (BIDV)</option>
	<option value="650">DBS BANK LTD CN HCM</option>
	<option value="619">DEUTSCHE BANK</option>
	<option value="304">DONG A (DONG A BANK)</option>
	<option value="317">DONG NAM A (SEABANK)</option>
	<option value="648">DTPT CAMPUCHIA - HCM</option>
	<option value="638">DTPT CAMPUCHIA HA NOI</option>
	<option value="658">E.SUN</option>
	<option value="632">FAR EAST NATIONAL BANK</option>
	<option value="608">FIRST COMMERCIAL BANK HANOI</option>
	<option value="630">FIRST COMMERCIAL BANK HCM</option>
	<option value="656">HANA</option>
	<option value="302">HANG HAI (MARITIME BANK)</option>
	<option value="603">HONG LEONG VN</option>
	<option value="617">HONGKONG AND SHANGHAI BANK (HSBC)</option>
	<option value="640">HUANAN COMMERECIAL BANK LTD SG</option>
	<option value="502">INDOVINA BANK</option>
	<option value="649">INDUSTRIAL &amp; COMMERCIAL BANK OF CHINA</option>
	<option value="641">INDUSTRIAL BANK OF KOREA</option>
	<option value="627">JP MORGAN CHASE BANK</option>
	<option value="626">KEB HANA BANK</option>
	<option value="353">KIEN LONG (KIEN LONG BANK)</option>
	<option value="631">KOOKMIN TP HO CHI MINH</option>
	<option value="310">KY THUONG VN (TECHCOMBANK)</option>
	<option value="505">LIEN DOANH VIET NGA (VRB)</option>
	<option value="504">LIEN DOANH VIET THAI (VINASIAM BANK)</option>
	<option value="635">MALAYAN BANKING BERHAD HCM</option>
	<option value="609">MAY BANK (HN)</option>
	<option value="623">MEGA INTERNATIONAL COMMERCIAL CO.LTD</option>
	<option value="613">MIZUHO CORPORATE BANK LTD., HN</option>
	<option value="639">MIZUHO CORPORATE BANK, LTD</option>
	<option value="622">MUFG BANK ,LTD CN HCM</option>
	<option value="653">MUFG BANK, LTD CN HN</option>
	<option value="306">NAM A (NAM A BANK)</option>
	<option value="660">NH BUSAN</option>
	<option value="901">NH HOP TAC XA VN</option>
	<option value="666">NH Kookmin Hanoi</option>
	<option value="204">NNO&amp;PT NONG THON VN (AGRIBANK)</option>
	<option value="662">NONGHYUP</option>
	<option value="625">OVERSEA - CHINESE BANKING CORP LTD</option>
	<option value="321">PHAT TRIEN TP HCM (HD BANK)</option>
	<option value="208">PHAT TRIEN VIET NAM (VDB)</option>
	<option value="333">PHUONG DONG (OCB)</option>
	<option value="501">PUBLIC BANK VN</option>
	<option value="311">QUAN DOI (MB)</option>
	<option value="352">QUOC DAN (NCB)</option>
	<option value="314">QUOC TE (VIB)</option>
	<option value="334">SAI GON (SCB)</option>
	<option value="348">SAI GON - HA NOI (SHB)</option>
	<option value="308">SAI GON CONG THUONG (SAIGONBANK)</option>
	<option value="303">SAI GON THUONG TIN (SACOMBANK)</option>
	<option value="616">SHINHAN VN</option>
	<option value="600">SIAM COMMERCIAL BANK PUBLIC COMPANY LTD</option>
	<option value="604">STANDARD CHARTERED BANK</option>
	<option value="636">SUMITOMO MITSUI BANKING CORPORATION</option>
	<option value="655">TAIPEI FUBON</option>
	<option value="651">TAIPEI FUBON</option>
	<option value="642">TAIPEI FUBONC.B</option>
	<option value="606">THE SHANGHAI COM&amp;SAVINGS BANK</option>
	<option value="358">TIEN PHONG (TIEN PHONG BANK)</option>
	<option value="665">UOB VIETNAM (UOB VN)</option>
	<option value="355">VIET A (VIET A BANK)</option>
	<option value="309">VIET NAM THINH VUONG (VP BANK)</option>
	<option value="356">VIET NAM THUONG TIN (VIETBANK)</option>
	<option value="663">WOORI BANK VIET NAM</option>
	<option value="341">XANG DAU PETROLIMEX (PGBANK)</option>
	<option value="339">XAY DUNG VN (CB BANK)</option>
	<option value="305">XUAT NHAP KHAU (EXIMBANK)</option>
</select>