<div class="field">
	<p class="help is-italic">
		<b>Tên chủ tài khoản:</b> <span snb-key="accountname">
	</p>
</div>
<div class="field">
	<p class="help is-italic">
		<b>Số tài khoản:</b> <span snb-key="accountid"></span>
	</p>
</div>
<div class="field">
	<p class="help is-italic">
		<b>Ngân hàng:</b> <span snb-key="bankname"></span>
	</p>
</div>
<div class="field">
	<p class="help is-italic">
		<b>Chi nhánh:</b> <span snb-key="bankbranch"></span>
	</p>
</div>
<div class="field">
	<p class="help is-italic">
		<b>Nội dung tin nhắn chuyển khoản:</b> <span snb-key="depositcashcode"></span>
	</p>
</div>