<section class="hero">
    <div class="hero-body m-0 py-5 px-0 mt-0">
        <div class=" columns">
            <div class="column is-5">
                <div class="box p-0 is-full-height">
                    <div class="panel has-box-shadowless is-marginless ">
                        <div
                            class="panel-heading has-background-primary has-text-centered">
                            <p class=" has-text-white">
                                <span>Thông tin</span>

                            </p>
                        </div>
                        <div class="panel-block">
                            <nav class="panel has-box-shadowless">
                                <p
                                    class="panel-heading is-size-5  has-text-primary has-text-centered has-background-transparent is-paddingless">
                                    Thông tin PM quản lý
                                </p>
                                <div id="PMInfoPanel"
                                    class="panel-block is-block">
                                    <div
                                        class="columns is-multiline is-marginless">
                                        <div class="column is-6 is-paddingless">
                                            <div class="columns is-marginless">
                                                <div
                                                    class="column is-4 is-size-6 p-1 has-margin-block-auto">
                                                    Họ
                                                </div>
                                                <div class="column p-1">
                                                    <input type="text"
                                                        class="input has-background-transparent is-full-width "
                                                        snb-key="firstname"
                                                        readonly>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="column is-6 is-paddingless">
                                            <div class="columns is-marginless">
                                                <div
                                                    class="column is-4 is-size-6 p-1 has-margin-block-auto has-text-right">
                                                    Tên
                                                </div>
                                                <div class="column p-1">
                                                    <input type="text"
                                                        class="input has-background-transparent is-full-width "
                                                        snb-key="lastname"
                                                        readonly>

                                                </div>

                                            </div>
                                        </div>
                                        <div
                                            class="column is-12 is-paddingless">
                                            <div class="columns is-marginless ">
                                                <div
                                                    class="column is-2 is-size-6 p-1 has-margin-block-auto">
                                                    Email
                                                </div>
                                                <div class="column p-1">
                                                    <input type="text"
                                                        class="input has-background-transparent is-full-width "
                                                        snb-key="email"
                                                        readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column is-6 is-paddingless">
                                            <div class="columns is-marginless">
                                                <div
                                                    class="column is-4 is-size-6 p-1 has-margin-block-auto">
                                                    SĐT
                                                </div>
                                                <div class="column p-1">
                                                    <input type="text"
                                                        class="input has-background-transparent is-full-width "
                                                        snb-key="phonenumber"
                                                        readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column is-6 is-paddingless">
                                            <div class="columns is-marginless ">
                                                <div
                                                    class="column is-4 is-size-6 p-1 has-margin-block-auto has-text-right">
                                                    CMND</div>
                                                <div class="column p-1">
                                                    <input type="text"
                                                        class="input has-background-transparent is-full-width "
                                                        snb-key="identitynumber"
                                                        readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        </nav>

                    </div>
                    <div class="panel-block">
                        <nav class="panel has-box-shadowless ">
                            <p
                                class="panel-heading is-size-5  has-text-primary has-text-centered has-background-transparent is-paddingless">
                                Thông tin đầu tư
                            </p>
                            <div id="allocationAccountInfo"
                                class="panel-block is-block">
                                <div class="columns is-multiline is-marginless">
                                    <div class="column is-6 is-paddingless">
                                        <div class="columns is-marginless">
                                            <div
                                                class="column is-4 is-size-6 p-1 has-margin-block-auto">
                                                Số TK
                                            </div>
                                            <div class="column p-1">
                                                <input type="text"
                                                    class="input has-background-transparent is-full-width "
                                                    snb-key="username" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-6 is-paddingless">
                                        <div class="columns is-marginless">
                                            <div
                                                class="column is-4 is-size-6 p-1 has-margin-block-auto">
                                                Tên CTCK
                                            </div>
                                            <div class="column p-1">
                                                <input type="text"
                                                    class="input has-background-transparent is-full-width "
                                                    snb-key="stockcompany"
                                                    readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-6 is-paddingless">
                                        <div class="columns is-marginless">
                                            <div
                                                class="column is-4 is-size-6 p-1 has-margin-block-auto">
                                                Tên KH
                                            </div>
                                            <div class="column p-1">
                                                <input type="text"
                                                    class="input has-background-transparent is-full-width "
                                                    snb-key="accountname"
                                                    readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-6 is-paddingless">
                                        <div class="columns is-marginless">
                                            <div
                                                class="column is-4 is-size-6 p-1 has-margin-block-auto">
                                                Email
                                            </div>
                                            <div class="column p-1">
                                                <input type="text"
                                                    class="input has-background-transparent is-full-width "
                                                    snb-key="customeremail"
                                                    readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-6 is-paddingless">
                                        <div class="columns is-marginless">
                                            <div
                                                class="column is-4 is-size-6 p-1 has-margin-block-auto">
                                                SĐT KH
                                            </div>
                                            <div class="column p-1">
                                                <input type="text"
                                                    class="input has-background-transparent is-full-width "
                                                    snb-key="customerphone"
                                                    readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-6 is-paddingless">
                                        <div class="columns is-marginless">
                                            <div
                                                class="column is-4 is-size-6 p-1 has-margin-block-auto">
                                                CMND
                                            </div>
                                            <div class="column p-1">
                                                <input type="text"
                                                    class="input has-background-transparent is-full-width "
                                                    snb-key="customercardid"
                                                    readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-6 is-paddingless">
                                        <div class="columns is-marginless">
                                            <div
                                                class="column is-5 is-size-6 p-1 has-margin-block-auto">
                                                Ngày đầu tư
                                            </div>
                                            <div class="column p-1">
                                                <input type="text"
                                                    class="input has-background-transparent is-full-width "
                                                    snb-key="startdate"
                                                    readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-6 is-paddingless">
                                        <div class="columns is-marginless ">
                                            <div
                                                class="column is-5 is-size-6 p-1 has-margin-block-auto">
                                                Ngày tất toán
                                            </div>
                                            <div class="column p-1">
                                                <input type="text"
                                                    class="input has-background-transparent is-full-width "
                                                    snb-key="enddate" readonly>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="column is-6 is-paddingless">
                                        <div class="columns is-marginless">
                                            <div
                                                class="column is-8 is-size-6 p-1 has-margin-block-auto">
                                                Tỷ lệ phân bổ vốn đầu tư
                                            </div>
                                            <div class="column p-1">
                                                <input type="text"
                                                    class="input has-background-transparent is-full-width "
                                                    snb-key="allocationratio"
                                                    snb-render="shinobi.render.renderPercent"
                                                    readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-6 is-paddingless">
                                        <div class="columns is-marginless">
                                            <div
                                                class="column is-8 is-size-6 p-1 has-margin-block-auto">
                                                Tỷ lệ tính lợi nhuận
                                            </div>
                                            <div class="column p-1">
                                                <input type="text"
                                                    class="input has-background-transparent is-full-width "
                                                    snb-key="profitcommisionratio"
                                                    snb-render="shinobi.render.renderPercent"
                                                    readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="column ">
                <div class="box is-fullheight p-0 ">
                    <table id="pricestocksympol"
                        class="table is-fullwidth has-background-transparent is-bordered  is-marginless">
                        <tbody>
                            <tr>
                                <td colspan="6"
                                    class=" is-borderless  is-border-radius-top has-background-primary padding-header-table">
                                    <p
                                        class="has-text-centered  font-weight-bold value up-value is-size-5">
                                        MUA
                                    </p>
                                </td>
                                <td colspan="6"
                                    class=" is-borderless  is-border-radius-top has-background-primary padding-header-table">
                                    <p
                                        class="has-text-centered font-weight-bold value down-value is-size-5">
                                        BÁN
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>Giá 3 </td>
                                <td>KL 3</td>
                                <td>Giá 2</td>
                                <td>KL 2</td>
                                <td>Giá 1</td>
                                <td class=" line-div">KL 1</td>
                                <!--  buy -->
                                <td class="line-div">Giá 1</td>
                                <td>KL 1</td>
                                <td>Giá 2</td>
                                <td>KL 2</td>
                                <td>Giá 3 </td>
                                <td>KL 3</td>
                            </tr>
                            <tr style="
                            height: 2.5rem;
                        ">
                                <td>
                                    <p class=" value  has-text-right">
                                        <span snb-key="best3bid"
                                            snb-render="shinobi.tradingsystemrender.formatPrice"></span>
                                    </p>
                                </td>
                                <td>
                                    <p class="value has-text-right">
                                        <span class=" is-hidden"
                                            snb-key="best3bid"
                                            snb-render="shinobi.tradingsystemrender.formatPrice"></span>

                                        <span snb-key="best3bidvolume"></span>
                                    </p>
                                </td>
                                <td>
                                    <p class=" value  has-text-right">
                                        <span snb-key="best2bid"
                                            snb-render="shinobi.tradingsystemrender.formatPrice"></span>
                                    </p>
                                </td>
                                <td>
                                    <p class="value has-text-right">
                                        <span class=" is-hidden"
                                            snb-key="best2bid"
                                            snb-render="shinobi.tradingsystemrender.formatPrice"></span>
                                        <span snb-key="best2bidvolume"></span>
                                    </p>
                                </td>

                                <td>
                                    <p class=" value  has-text-right">
                                        <span snb-key="best1bid"
                                            snb-render="shinobi.tradingsystemrender.formatPrice"></span>
                                    </p>
                                </td>
                                <td class="line-div">
                                    <p class="value has-text-right">
                                        <span class="is-hidden"
                                            snb-key="best1bid"
                                            snb-render="shinobi.tradingsystemrender.formatPrice"></span>

                                        <span snb-key="best1bidvolume"></span>
                                    </p>
                                </td>

                                <td class="line-div">
                                    <p class=" value  has-text-right">
                                        <span snb-key="best1offer"
                                            snb-render="shinobi.tradingsystemrender.formatPrice"></span>
                                    </p>
                                </td>
                                <td>
                                    <p class="value has-text-right">
                                        <span class=" is-hidden"
                                            snb-key="best1offer"
                                            snb-render="shinobi.tradingsystemrender.formatPrice"></span>

                                        <span snb-key="best1offervolume"></span>
                                    </p>
                                </td>

                                <td>
                                    <p class=" value  has-text-right">
                                        <span snb-key="best2offer"
                                            snb-render="shinobi.tradingsystemrender.formatPrice"></span>
                                    </p>
                                </td>
                                <td>
                                    <p class="value has-text-right">
                                        <span class=" is-hidden"
                                            snb-key="best2offer"
                                            snb-render="shinobi.tradingsystemrender.formatPrice"></span>

                                        <span snb-key="best2offervolume"></span>
                                    </p>
                                </td>

                                <td>
                                    <p class=" value  has-text-right">
                                        <span snb-key="best3offer"
                                            snb-render="shinobi.tradingsystemrender.formatPrice"></span>
                                    </p>
                                </td>
                                <td>
                                    <p class="value has-text-right">
                                        <span class=" is-hidden"
                                            snb-key="best3offer"
                                            snb-render="shinobi.tradingsystemrender.formatPrice"></span>

                                        <span snb-key="best3offervolume"></span>
                                    </p>
                                </td>


                            </tr>
                        </tbody>
                    </table>
                    <embed id="tradingviewstock" type="text/html" src=""
                        height="370"
                        class=" has-background-trasparent is-fullwidth ">
                    <!-- setup tradingview -->
                </div>
            </div>
        </div>
    </div>
</section>