<aside id="menuleft" class="menu">
    <ul class="menu-list superadmin-menu" value="SUPERADMIN">
        <li class="has-tooltip-right has-tooltip-secondary" data-tooltip="Robot"><a>
                <p class="icon">
                    <i class="fal fa-robot fa-lg"></i>
                </p>
                <!-- <p class="is-size-7">Robot</p> -->
            </a>
        </li>
        <li class="has-tooltip-right has-tooltip-secondary" data-tooltip="Quản lý KH & PM"><a
                href="/private/accountmanagement" id="accountmanagement">
                <p class="icon">
                    <i class="fal fa-users-class fa-lg"></i>
                </p>
                <!-- <p class="is-size-7">Rủi ro & DM</p> -->
            </a>
        </li>
        <li class="has-tooltip-right has-tooltip-secondary" data-tooltip="Quản lý TK tự doanh"><a
                href="/private/selfemployedaccount">
                <p class="icon">
                    <i class="fal fa-user-chart  fa-lg"></i>
                </p>
            </a>
        </li>
        <li class="has-tooltip-right has-tooltip-secondary" data-tooltip="Quản lý lệnh"><a
                href="/private/ordercommandmanagement">
                <p class="icon">
                    <i class="fal fa-list-ul  fa-lg"></i>
                </p>
            </a>
        </li>
        <li class="has-tooltip-right has-tooltip-secondary" data-tooltip="Quản lý phiên hoạt động"><a
                href="/private/operationsmanagement">
                <p class="icon">
                    <i class="fal fa-history  fa-lg"></i>
                </p>
            </a>
        </li>
        <li class="has-tooltip-right has-tooltip-secondary" data-tooltip="Quản lý danh sách ngày lễ"><a
                href="/private/holidaymanagement">
                <p class="icon">
                    <i class="fal fa-calendar-alt fa-lg"></i>
                </p>
            </a>
        </li>
        <li class="has-tooltip-right has-tooltip-secondary is-hidden" data-tooltip="Quản lý chia cổ tức"><a
                href="/private/dividendmanagement">
                <p class="icon">
                    <i class="fal fa-balance-scale"></i>
                </p>
            </a>
        </li>
        <li class="has-tooltip-right has-tooltip-secondary is-hidden" data-tooltip="Quản lý cổ phiếu"><a
                href="/private/admindividendstockmanagement">
                <p class="icon">
                    <i class="fal fa-cubes"></i>
                </p>
            </a>
        </li>
        <li class="has-tooltip-right has-tooltip-secondary is-hidden" data-tooltip="Quản lý tiền"><a
                href="/private/cashmanagement">
                <p class="icon">
                    <i class="fas fa-hand-holding-usd"></i>
                </p>
            </a>
        </li>
    </ul>


    <ul class="menu-list aladin-admin-menu is-hidden" value="PMALADIN">

        <li class="has-tooltip-right has-tooltip-secondary" data-tooltip="Trang Chủ" id="indexlink"><a
                href="/private/tradingsystem">
                <p class="icon">
                    <i class="fal fa-home-lg-alt fa-lg"></i>
                </p>

            </a>
        </li>
        <li class="has-tooltip-right has-tooltip-secondary" data-tooltip="Quản lý lệnh"><a
                href="/private/ordercommandmanagement">
                <p class="icon">
                    <i class="fal fa-list-ul  fa-lg"></i>
                </p>
            </a>
        </li>
        <li class="has-tooltip-right has-tooltip-secondary" data-tooltip="Quản lý phiên hoạt động"><a
                href="/private/operationsmanagement">
                <p class="icon">
                    <i class="fal fa-history  fa-lg"></i>
                </p>
            </a>
        </li>
    </ul>


    <ul class="menu-list pm-menu is-hidden" value="PM">
        <li class="has-tooltip-right has-tooltip-secondary" data-tooltip="Trang Chủ" id="indexlink"><a
                href="/private/tradingsystem">
                <p class="icon">
                    <i class="fal fa-home-lg-alt fa-lg"></i>
                </p>

            </a>
        </li>
        <li class="has-tooltip-right has-tooltip-secondary" data-tooltip="Quản lý phiên hoạt động"><a
                href="/private/operationsmanagement">
                <p class="icon">
                    <i class="fal fa-history  fa-lg"></i>
                </p>
            </a>
        </li>
    </ul>
</aside>