<div id="confirmPanel" class="modal is-small">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title">Cảnh báo</p>
			<button class="delete" aria-label="close"></button>
		</header>
		<section class="modal-card-body">Bạn chắc chắn?</section>
		<footer class="modal-card-foot">
			<button class="button is-success yes">Có</button>
			<button class="button cancel">Không</button>
		</footer>
	</div>
</div>

<div id="shinobinotification" class="notification  shinobinotification">
	<button class="delete"></button>
	<div class=notificationcontent>Cập nhật thành công!</div>
</div>