<section class="hero is-relative ">
    <div class="hero-body is-marginless pl-0 pt-3 pb-5 has-background-transparent">
        <div class="columns ">
            <div class="column is-9">
                <div class="columns">
                    <div class="column is-6">
                        <div class="columns m-0">
                            <div class="column p-0">
                                <div class=" field ">
                                    <div class="control">
                                        <div class="select is-fullwidth">
                                            <select class="has-background-trasparent" id="selectPM"
                                                style="width: auto;min-width: 100%;">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column p-0 pl-2">
                                <div class=" field ">
                                    <div class="control">
                                        <input id="autocompletesearchstocksymbol" class=" input has-width-10-ren"
                                            type="text" placeholder="Tìm kiếm">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="is-flex">
                            <div class="">
                                <a
                                    class="button has-background-transparent is-borderless has-text-primary is-developing">
                                    <span class="icon large pr-1">
                                        <i class="fas fa-cog "></i>
                                    </span>
                                    <span>Cài đặt</span>

                                </a>
                            </div>
                            <div class="">
                                <a
                                    class="button has-background-transparent is-borderless has-text-primary is-developing">
                                    <span class="icon large pr-1">
                                        <i class="fas fa-cog "></i>
                                    </span>
                                    <span>Lệnh điều kiện</span>

                                </a>
                            </div>
                            <div class="">
                                <a
                                    class="button has-background-transparent is-borderless has-text-primary is-developing">
                                    <span class="icon large pr-1">
                                        <i class="fas fa-cog "></i>
                                    </span>
                                    <span>Lệnh chờ gửi</span>

                                </a>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <div class="column is-4 is-paddingless fixed-bottom-right has-text-centered">
                <div id="buttonsbuysell"
                    class="is-flex is-justify-content-end has-background-transparent has-padding-bottom-0-rem ">
                    <div class="button-outline is-active-buy">
                        <a class="button buy has-bsd">Mua</a>
                    </div>
                    <div class="button-outline">
                        <a class="button sell has-bsd ">Bán</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>