
<h4>
	<strong>I. THU THẬP VÀ SỬ DỤNG THÔNG TIN CÁ NHÂN</strong>
</h4>



<ul>
	<li>Chúng tôi có thể thu thập thông tin cá nhân của bạn nếu bạn mở
		một tài khoản để sử dụng Trang web hoặc thực hiện bất kỳ giao dịch
		trên Trang web. Các loại thông tin cá nhân mà chúng tôi thu thập có
		thể bao gồm: Tên của bạn, danh tính của bạn, bao gồm một hình ảnh chất
		lượng cao của chứng minh nhân dân/ hộ chiếu, địa chỉ của bạn, địa chỉ
		e-mail của bạn, số tài khoản ngân hàng của bạn, ngày sinh của bạn,
		ngành nghề của bạn, số điện thoại liên lạc, và hóa đơn tiện ích của
		bạn hoặc báo cáo ngân hàng xác nhận địa chỉ cư trú của bạn.</li>
</ul>



<ul>
	<li>Chúng tôi có thể sử dụng thông tin cá nhân của bạn cho các mục
		đích:</li>
</ul>



<ul>
	<li>Để cải thiện dịch vụ khách hàng (thông tin của bạn sẽ giúp
		chúng tôi hiệu quả hơn đáp ứng yêu cầu dịch vụ khách hàng của bạn và
		nhu cầu hỗ trợ);<br>
	<br>
	</li>
	<li>Xác minh danh tính của bạn với nhà cung cấp nhận dạng điện tử
		của chúng tôi để tuân theo các chính sách chống rửa tiền;</li>
</ul>



<ul>
	<li>Các mục đích khác mà chúng tôi cho là cần thiết theo yêu cầu
		của cơ quan nhà nước có thẩm quyền.</li>
</ul>



<h4>
	<strong>II. BẢO VỆ THÔNG TIN CÁ NHÂN CỦA BẠN</strong>
</h4>



<ul>
	<li>Chúng tôi sẽ cung cấp các biện pháp và thủ tục hợp lý, thiết
		thực để bảo vệ thông tin cá nhân của bạn bao gồm các biện pháp tối ưu
		để bảo vệ thông tin cá nhân của bạn.</li>
</ul>



<ul>
	<li>Khi bạn truy cập Trang web của chúng tôi hoặc tham gia vào
		dịch vụ của chúng tôi, nhằm bảo vệ thông tin cá nhân của bạn, việc
		truyền dữ liệu qua Trang web hoặc máy chủ của chúng tôi sẽ được mã
		hóa. Có thể không áp dụng điều này khi bạn truy cập vào bất kỳ liên
		kết ngoài nào. Việc truy cập của bạn tới các Trang web của bên thứ ba
		sẽ không được Chính sách này bảo vệ.</li>
</ul>



<ul>
	<li>Quyền truy cập đến thông tin cá nhân của bạn được chúng tôi
		lưu giữ được bảo mật nghiêm ngặt nếu không có sự phê duyệt từ cấp quản
		lý phù hợp của T-Rex.</li>
</ul>



<ul>
	<li>Chúng tôi sử dụng thông tin cá nhân cho các mục đích nêu tại
		thời điểm bạn cung cấp cho chúng tôi thông tin đó, và/hoặc cho các mục
		đích đặt ra trong chính sách bảo mật này và/hoặc được pháp luật cho
		phép.</li>
</ul>



<ul>
	<li>Bạn thừa nhận rằng bằng cách sử dụng dịch vụ của chúng tôi và
		sự chấp nhận của bạn về điều khoản sử dụng của Thỏa thuận này, bạn sẽ
		cung cấp cho chúng tôi thông tin cá nhân về bạn. Bạn bằng lòng cho
		chúng tôi tiết lộ thông tin nếu được yêu cầu của pháp luật cho mục
		đích nhận dạng điện tử như đã nêu ở trên.</li>
</ul>



<ul>
	<li>Chúng tôi cũng được phép cung cấp cho phía nạn nhân và các bên
		liên quan trong trường hợp tài khoản của bạn có liên quan đến lừa đảo,
		vi phạm pháp luật.<br>
	<br>
	</li>
	<li>Chúng tôi sẽ không cung cấp thông tin cá nhân cho các bên khác
		để quảng cáo, tiếp thị hoặc các sử dụng khác.</li>
</ul>



<h4>
	<strong>III. QUẢN LÝ MẬT KHẨU VÀ ID NGƯỜI DÙNG</strong>
</h4>



<ul>
	<li>Người dùng đã đăng ký phải chịu trách nhiệm hoàn toàn về cài
		đặt, bảo mật và bảo vệ mật khẩu của mình (khóa API, khóa bảo mật, mã
		xác thực, mã bảo mật, v.v.) và ID người dùng ( bao gồm ID đăng nhập,
		ID tài khoản, khóa API, v.v.) và Người dùng đã đăng ký sẽ không gây ra
		hoặc cho phép bất kỳ bên thứ ba nào sử dụng mật khẩu/ ID người dùng
		cũng như không cho vay/ chuyển nhượng tài khoản được sở hữu dưới tên
		của Người dùng hoặc được bán hoặc mua mật khẩu/ ID người dùng hoặc nói
		cách khác là mật khẩu hoặc ID người dùng là đối tượng của bất kỳ hoạt
		động nào tương tự như đã nói ở trên.</li>
</ul>































































































<h4>
	<strong>X. CHUYỂN GIAO</strong>
</h4>



<p>
	Bạn không được chuyển giao hay chuyển nhượng các Điều khoản Dịch vụ
	này, và bất kỳ quyền và li-xăng nào được cấp trong đây, nhưng T-rex có
	thể thực hiện chuyển giao mà không có bất kỳ hạn chế nào. <br>
</p>
