<p style="text-align: justify">&nbsp;&nbsp;&nbsp; Dịch cúm virus
	corona đã làm hàng loạt các cổ phiếu giảm sâu, VNINDEX giao dịch mức
	P/E chỉ còn 11.87. Tác động của virus corona đến nền kinh tế là rất
	lớn, bằng chứng là các cơ quan phân tích, ngân hàng lớn trên thế giới
	đều đồng loạt hạ tăng trưởng kinh tế toàn cầu. Tuy nhiên, tác động này
	chỉ mang tính ngắn hạn. Hầu hết những thiệt hại cho doanh nghiệp khiến
	nhà đầu tư lo sợ đều đến từ dịch bệnh. Vậy thì chỉ cần dịch bệnh qua
	đi, nền kinh tế sẽ có cơ chế tự hồi phục và giá cổ phiếu sẽ tăng trở
	lại. Mặt khác, cũng có thể xem đây là phép thử cho khả năng kinh doanh
	của doanh nghiệp. Những doanh nghiệp nào có nội tại tốt và triển vọng
	tương lai thì giá cổ phiếu sẽ hồi phục cực nhanh khi cơn dịch qua đi.
	Vì vậy, một cổ phiếu có triển vọng tiềm năng và mức giá rẻ đang là điều
	mà các nhà đầu tư đang quan tâm. Và cả hai điều ấy đều hội tụ đủ ở cổ
	phiếu DPG.</p>

<p style="text-align: justify">
	<span style=""><strong>Đôi điều về DPG </strong></span>
</p>

<p style="text-align: justify">&nbsp;&nbsp; DPG (Công ty cổ phần Đạt
	Phương), là một nhà thầu có tiếng trong lĩnh vực xây dựng. Các hợp đồng
	chủ yếu của DPG đến từ các công trình giao thông BT, công trình thủy
	lợi. Có thể kể đến như Cầu Cao Lãnh, Thủy Điện Sơn Trà, cầu Đế Võng.
	Đây là những công trình quan trọng, với mức đầu tư lớn. Điều này cho
	thấy kinh nghiệm và sự uy tín trong lĩnh vực đầu tư công của DPG.</p>

<p style="text-align: justify">&nbsp;&nbsp; Ngoài ra, công ty còn
	kinh doanh trong lĩnh vực bất động sản. Đây được xem là những khoản tái
	đầu tư từ lợi nhuận của các dự án BT (thay vì trả tiền thì nhà nước sẽ
	giao quyền sử dụng đất).</p>

<p style="text-align: justify">
	<strong><span style="">Hưởng lợi nhờ đầu tư công 2020</span></strong>
</p>

<p style="text-align: justify">&nbsp;&nbsp; Theo kế hoạch, giải ngân
	đầu tư công năm 2020 là 470 nghìn tỷ, tương đương 7.8% GDP và tăng gần
	gấp đôi năm 2019. Việc tăng đầu tư công sẽ giúp tăng thêm các hợp đồng
	cho các công ty xây dựng, đặc biệt là những nhà thầu có uy tín và đã
	từng có những dự án BT lớn như DPG.</p>

<p style="text-align: justify">&nbsp;&nbsp; Trong lĩnh vực xây dựng
	các công trình giao thông, thủy lợi, yếu tố uy tín và giá cả quyết định
	đến khả năng nhận thầu của đơn vị thi công. Trong khi các ông lớn như
	Coteccon, Hòa Bình mặc dù chất lượng thi công cao hơn hẳn DPG, nhưng
	chi phí của gói thầu lại quá cao; sẽ dẫn đến tình trạng bội chi ngân
	sách. Xét về kinh nghiệm, DPG hoàn toàn nhỉnh hơn hai “đại gia” đầu
	ngành trong lĩnh vực xây dựng hạ tầng giao thông đô thị. Thế mạnh về
	lĩnh vực xây lắp các công trình hạ tầng giao thông và chi phí rẻ sẽ
	giúp DPG hưởng lợi từ việc đầu tư công mạnh mẽ trong năm 2020.</p>

<p style="text-align: justify">&nbsp;&nbsp; Đầu năm 2020, DPG đã
	trúng thầu dự án đầu tư xây dựng đường dẫn cầu Mỹ Thuận 2. Giá trị
	trúng thầu là 590.28 tỷ đồng, thời gian thực hiện 24 tháng; là 1 trong
	5 gói thầu xây lắp có quy mô lớn nhất trong 14 gói thầu của dự án.</p>

<p style="text-align: justify">
	<strong><span style="">Rủi ro chu kỳ được giảm thiểu
			nhờ đầu tư các công trình thủy điện</span></strong>
</p>

<p style="text-align: justify">&nbsp;&nbsp;&nbsp; Ngoài là một ông
	lớn trong xây dựng công trình giao thông, công ty còn đầu tư xây dựng
	các dự án thủy điện vừa và nhỏ. Các công trình thi công của DPG rất
	chất lượng, được giới chuyên môn đánh giá cao nhờ công nghệ thi công
	hầm cầu hàng đầu Việt Nam. Mảng bán điện thương phẩm chiếm 11.8% tổng
	doanh thu; đứng thứ hai chỉ sau hoạt động xây dựng. Việc đầu tư các
	công trình thủy điện là một chiến lược đa dạng hóa danh mục kinh doanh
	rất hợp lý. Thu nhập ổn định từ bán điện thương phẩm sẽ phần nào giảm
	thiểu rủi ro mang tính chu kỳ từ các dự án hạ tầng và khu đô thị.</p>

<h1 style="text-align: justify">
	<span style=""><strong>Ngành xây dựng hưởng lợi nhờ chi
			phí đầu vào rẻ</strong></span>
</h1>

<p style="text-align: justify">&nbsp;&nbsp;&nbsp; Trong các công
	trình thi công, chi phí nguyên vật liệu chiếm tỷ trọng cao nhất, 70%
	trong tổng chi phí xây dựng. Thép lại là nguyên vật liệu có giá thành
	cao nhất, đặc biệt là trong các công trình giao thông; vốn cần sự chắc
	chắn an toàn trong thiết kế khối. Do lo ngại dịch Corona, giá quặng sắt
	đã giảm 10.86% từ đầu năm đến nay. Bên cạnh đó, các chi phí khác như
	xăng dầu, xi măng dự kiến cũng sẽ giảm. Việc các chi phí đầu vào rẻ sẽ
	làm tiết kiệm chi phí xây dựng, góp phần gia tăng lợi nhuận.</p>

<p style="text-align: justify">
	<span style=""><strong>Kỳ vọng lợi nhuận cao từ những
			dự án ở Hội An</strong></span>
</p>

<p style="text-align: justify">&nbsp;&nbsp; Sau khi hoàn tất dự án
	Đế Võng theo hình thức BT, nhà nước chuyển giao tổng quỹ đất là 260 ha
	để thanh toán cho DPG như sau:</p>

<p style="text-align: justify">
	<img alt="BCTC 2019"
		src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.15752-9/90777191_528499364726730_857173441038516224_n.png?_nc_cat=110&amp;_nc_sid=b96e70&amp;_nc_oc=AQmmS9R8nRkHfmCIlkJrof-BUAKoFXN1mVUlqzn-PI5uKrFDGGLmzzfZe5JnPv8X3oE&amp;_nc_ht=scontent-sin6-2.xx&amp;oh=68e1cc7b65df52e57d624b1904f78998&amp;oe=5EA8C690">
</p>

<p style="text-align: justify">&nbsp;&nbsp;&nbsp; Đây được xem là
	những vị trí đắc địa, đặc biệt ở Võng Nhi, dự án nằm ngay trung tâm du
	lịch Hội An. Theo BCTC năm 2019, nhà nước đã hoàn tất thủ tục đối trừ
	quyền sử dụng đất của Võng Nhi, Đồng Nà và Nồi Rang. Riêng dự án Võng
	Nhi đã được hạch toán trong quý 4/2019;&nbsp; làm cho doanh thu tăng
	tới 85% so với cùng kỳ. Các dự án còn lại sẽ được hạch toán trong năm
	nay. Vì thế chúng ta có thể kỳ vọng một mức lợi nhuận cao cho DPG trong
	năm 2020.</p>

<p style="text-align: justify">
	<strong><span style="">Kết quả kinh doanh năm 2019</span></strong>
</p>

<p style="text-align: justify">&nbsp; Lợi nhuận và doanh thu đều có
	xu hướng tăng trong cả giai đoạn. Trong đó năm 2019 đạt mức tăng trưởng
	cao nhất, với mức tăng doanh thu và lợi nhuận lần lượt là 25.5% và
	59.5%. &nbsp;Nhìn vào diễn biến kết quả kinh doanh của DPG trong 4 năm
	vừa qua; chúng ta có thể thấy được sự hiệu quả của việc đa dạng hóa
	danh mục kinh doanh của DPG. Tính bất ổn của ngành xây dựng đã làm
	doanh thu biến động cao; chỉ tiêu sụt giảm còn 1410 tỷ năm 2018 sau đó
	tăng lên 1973 tỷ vào năm 2019. Trái ngược với doanh thu, lợi nhuận sau
	thuế (EAT) vẫn giữ xu hướng tăng đều qua các năm; ngay cả giai đoạn
	2016-2018, khi doanh thu giảm (-12.85%) thì EAT vẫn tăng (+28.7%).
	Nguyên nhân của sự khác biệt này là do lợi nhuận ổn định từ mảng kinh
	doanh điện thương phẩm đã bù đắp cho sự sụt giảm doanh thu; đảm bảo lợi
	nhuận của cổ đông tăng trưởng ổn định.</p>

<p style="text-align: justify">&nbsp;&nbsp; Lợi nhuận năm 2019 tăng
	mạnh là do quý 4/2019, công ty hạch toán lợi nhuận bán hàng từ dự án
	Võng Nhi; với giá trị chiếm gần 20% tổng lợi nhuận cả năm. Từ đó, ta
	cũng đã thấy sức hấp dẫn từ các dự án ở Hội An. Theo kế hoạch dự kiến,
	các dự án còn lại sẽ được hạch toán trong năm 2020-2021; chúng ta hoàn
	toàn có thể kỳ vọng lợi nhuận của DPG sẽ có những khoản đột biến trong
	năm 2020.</p>

<p style="text-align: justify">
	<img alt="Nguồn: Vietstock"
		src="https://scontent-sin6-1.xx.fbcdn.net/v/t1.15752-9/91404910_1047534675647278_8327085866249879552_n.png?_nc_cat=104&amp;_nc_sid=b96e70&amp;_nc_oc=AQmXMGoY5OZ9f9YUs8PML8tEERVdCzMusZo1UJyMhhzw05n1U5RL8Gq0T9VO54z6hRg&amp;_nc_ht=scontent-sin6-1.xx&amp;oh=1194feb3c0abec6f9a386ca0c4ebc81d&amp;oe=5EA847C1">
</p>

<p style="text-align: justify">
	<span style=""><strong>Cơ cấu vốn</strong></span>
</p>

<p style="text-align: justify">&nbsp;&nbsp; Mặc dù rủi ro chu kì đã
	kiểm soát rất tốt, nhưng cơ cấu vốn của công ty chưa thật sự an toàn,
	tỷ lệ nợ/vcsh năm 2019 đạt tới 200%. Đây cũng là đặc thù của ngành xây
	dựng cơ bản, với vốn lưu động cao cần phải sử dụng nợ vay nhiều để đầu
	tư. Tuy nhiên, tỷ trọng nợ đang giảm dần và công ty còn có thể có nhiều
	cách như huy động thêm vốn để cân đối nợ. Hơn nữa, lợi nhuận được đảm
	bảo bởi danh mục sản phẩm kinh doanh an toàn sẽ là bệ đỡ vững chắc cho
	công ty.</p>

<p style="text-align: justify">
	<img alt="Vietstock"
		src="https://scontent-sin6-1.xx.fbcdn.net/v/t1.15752-9/91467280_1446088078907522_4124258194413322240_n.png?_nc_cat=107&amp;_nc_sid=b96e70&amp;_nc_oc=AQkZ_m9kowAANvkWQHPZj68T1GJ8lkjxx8i6sxIWAeQvp9VV49JRyO8aqSmzTJuDaT4&amp;_nc_ht=scontent-sin6-1.xx&amp;oh=4b903245c2ef632683a0f1f99a786d32&amp;oe=5EA5A1C6">
</p>

<p style="text-align: justify">&nbsp;</p>

<p style="text-align: justify">
	<strong><span style="">Cơ hội mua vào với mức giá cực
			rẻ.</span> </strong>
</p>

<p style="text-align: justify">&nbsp;&nbsp;&nbsp; Cổ phiếu hiện đang
	giao dịch ở mức giá 22, trong khi giá trị sổ sách là 20/cổ phiếu. Giá
	trị sổ sách chỉ phản ánh tổng giá trị hiện tại của cổ phiếu, chưa tính
	giá trị từ các khoản đầu tư tương lai. Trong khi đó, ta lại thấy tiềm
	năng tăng trưởng tương lai cực kì lớn với các dự án Hội An. Nếu quan
	sát thị trường, mỗi khi cổ phiếu rớt xuống vùng giá 19-21 thì luôn có
	một lực cầu đủ mạnh kéo giá lên. Điều này cho thấy dòng tiền thông minh
	đã tìm ra “vùng giá trị thực” của DPG tại vùng giá hiện tại. Trong thời
	gian này, cổ phiếu sẽ chịu tác động của “thị trường con gấu Corona” và
	chưa thể thực sự bức phá trong thời gian ngắn. Nhưng về dài hạn, upside
	của cổ phiếu nếu mua ở mức giá hiện tại lên đến 53%; tương ứng với mức
	giá 38.5. Đây là mức giá gần với định giá của nhiều công ty chứng khoán
	dành cho DPG. Nhà đầu tư có thể giải ngân tại thời điểm này, và chờ cơ
	hội chốt lời ở mức giá mục tiêu trên trong thời hạn 1 năm.</p>

<p style="text-align: justify">
	<img alt=""
		src="https://scontent-sin6-1.xx.fbcdn.net/v/t1.15752-9/91774029_224184085497790_4659407095110565888_n.png?_nc_cat=104&amp;_nc_sid=b96e70&amp;_nc_oc=AQlhJIZhaRjjrGqh23BUIKO3JvZXmrhryehAubyUr_10f4IstdrbcWwwaitA2Ck60zM&amp;_nc_ht=scontent-sin6-1.xx&amp;oh=0715d47c37febaae25765496a8690478&amp;oe=5EA84A58">
</p>

<p style="text-align: justify">
	<span style=""><strong>Tổng kết</strong></span>
</p>

<p style="text-align: justify">&nbsp;&nbsp;&nbsp; Cổ phiếu DPG hội
	tụ đủ cả hai yếu tố tăng trưởng và mức giá rẻ. Về yếu tố tăng trưởng,
	đầu tư công và những dự án hấp dẫn ở Hội An được hạch toán trong năm
	nay là những catalyst thúc đẩy cổ phiếu tăng giá sau khi thị trường ổn
	định. Bên cạnh đó, cổ phiếu hiện đang giao dịch ở vùng đáy và ở mức giá
	cực rẻ so với tiềm năng tương lai. Đây là cổ phiếu phù hợp với chiến
	lược đầu tư giá trị ở thời điểm hiện tại. Tuy nhiên, chúng ta cần phải
	cân nhắc những rủi ro hiện hữu. Đặc biệt là việc sử dụng nợ vay nhiều
	trong thời điểm này sẽ gây khó khăn nếu công ty không có phương án
	thích nghi. Khuyến nghị mua quanh vùng 19-20, target trong 1 năm là 38
	với upside 53%.</p>

<p style="text-align: justify">&nbsp;</p>